@font-face {
    font-family: myFont;
    src: url(../../Assets/fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: myFont;
    src: url(../../Assets/fonts/Poppins-Bold.otf);
    font-weight: bold;
}

*{
    box-sizing: content-box;
    font-family: myFont;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    margin: 0%;
    overflow-x: hidden;
    background-image: url('../../Assets/designer-assets/png-background.png');
    background-size: 100%;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;background-attachment: fixed;
    background-size: cover; 
    
}

.challengeContainer {
    margin-top: 10px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    font-size: 20px;
    text-decoration: none;
}
#login_button {
    width: 100px;
    height: 40px;
    background:white;
    color: purple;
    font-size: 20px;
    border-radius: 20px;
    border-color: purple;
    cursor: pointer;
}

h1 {
    margin:auto;
    background: linear-gradient(to right, #592b78, #ce1e50, #ea6233, #ebd44b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    /* color: black; */
}

.titleflex{
    display: flex;
}

h2 {
    font-size: 25px;
    margin-left: 90px;
    color: #592b78;
}

h3 {
    font-size: 25px;
    color: #592b78;
}

#backButton a {
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin-left: 6%;
    display: inline;
}

.challenge {
    display: flex;
    margin: auto;
    background-color: rgb(241, 237, 237);
    /* border-radius: 10px; */
    justify-content: space-around;
    width: 80vw;
    position: relative;
    text-align: center;
}

.challenge:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.challenge:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.challengeFilter {
    display:flex;
    width: 80vw;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.filter, .newChallenge {
    display: inline;
    padding-right: 15px;
}

.challengeInfo {
    top: 10px;
    left: 200px;
    width: 800px;
    color: #592b78
}

#challengeDesc {
    color: black;
}

.challengeStart {
    position: relative;
    display: flex;
    align-items: center;
}
.start_link {
    position: absolute;
    background-color: #592b78;
    opacity: 70%;
    width: 200px;
    text-align: center;
    padding: 0;
    font-size: 20px;
    top: 94px;
}

.start_link p {
    color: white;
}

.start_link:hover {
    opacity: 80%;
    cursor: pointer;
}

.actualChallengeContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    background-color: rgb(241, 237, 237);
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid grey;
    border-radius: 10px;
}
.camera {
    display: inline-block;
    margin-right: 15px;
    margin-top: 4px;
}

.activityInfo {
    width: 60%;
    justify-content: flex-start;
}
#route {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    background: #ce1e50;
    color: white;
}

hr {
    margin-left: 10%;
    margin-right: auto;
    padding: 0;
    width: 75%;
    position: absolute;
    z-index: 2;
    height: 5px;
    background: #592b78;
}

hr:last-child{
    display: none;
}

.challengeImage{
    width: 200px;
    height: 130px;    
}

.returnButton{
    float: right;
    margin-right: 80px;
    padding: 9px;
    border: 1px solid purple;
    color: #592b78;
    font-weight: bold;
    border-radius: 25px;
}
.returnButton:hover{
    background-color: #592b78;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .challenge {
        display: inline-block;
        padding-top: 20px;
        padding-right: 100px;
        padding-left: 30px;
        background-color: rgb(241, 237, 237);
        background-size: 100%;
        /* border-radius: 10px; */
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .challengeStart{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .challenge h3{
        
        width: 80vw;
        margin-top: 40px;
        padding-top: 50px;
        margin-left: 5px;
    }
    #challengeDesc {
        width: 80vw;
        
    }
    #challengeDesc ul {
        list-style: none;
        margin-left: -30px;
        margin-bottom: 5px;
    }

    .challengeImage{
        display: flex;
        width: auto;
    }
    .start_link{

        margin-top: 50px;
    }
    hr{
        margin-left: 45px;
        margin-bottom: 5px;
    }
    #topDiv{
        margin:15px;
    }
    h1 {
        margin-left: 70px;
    }
}