:root {
    --main-body-color: rgb(224, 222, 222);
    --main-button-color: rgb(100, 77, 122);
    --main-button-hover-color: rgb(108, 94, 121);
    --main-bg-color: rgba(0, 90, 90, 0.548);
    --main-title-color: rgba(13, 82, 82, 0.548);
    --main-placeholder-color: rgb(85, 51, 116);
    --main-border-style: 1px solid black;
    --main-border-testing: 1px dashed black; 

    --main-body-color: white;
    --main-button-color: white;
    --main-button-color-secondary: rgb(211, 211, 238);
    --main-button-hover-color: rgb(219, 219, 219);
    --main-bg-color: rgb(221, 220, 220);
    --main-title-color: rgb(185, 178, 194);
    --main-placeholder-color: rgb(155, 155, 155);
    --main-border-style: 1px solid black;
    --main-border-testing: 0px solid black; 
   }

*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

body{
height: 100vh; 
width: 100vw;
overflow-x: hidden;
background-image: url('../../Assets/designer-assets/png-background.png');
background-size: 100%;
background-size: cover;background-position: center center; 
background-repeat: no-repeat;background-attachment: fixed;background-size: cover; 

}

/* background
*/
#bgImg{
position: fixed;
top: 49%;
left: 49%; 
width: 900px; 
min-width: 900px;
z-index: -1;
}


.container{
border: var(--main-border-testing);
width: 95vw;
height: 85vh;
margin: auto;
 margin-top: 3vh;
 margin-bottom: 50px;

}





.challengeInfo{
min-width: 200px;

padding: 30px;
padding-top: 35px;
font-size: small;
}

.titleChallenge{
font-weight: bold;
font-size: large;
color:rgb(135, 42, 172);
border-bottom: 1px solid black;
min-width: 150px;
}

.challengeDesc{  
 min-width: 170px;
margin-top: 10px;

}

.challengeButton{
display: inline;
padding: 5px 30px;
border-radius: 30px;
border: 2px solid purple;
font-weight: bold;
color:rgb(98, 18, 129);

}
.challengeButton:hover{
color: aliceblue;
background-color: purple;
cursor: pointer;
}

.challengeStepsContainer{
margin-top: 5px;
margin-bottom: 15px;
padding-left: 10px;
}

.challengeSteps{
list-style:circle;
margin-top: 8px;
}


/* Infowindow place */

.infoWindowContainer{
width: 18rem;
}
.infoWindowImg{
width: 100%;
height: 200px;
}
.infoWindowImgChallenge{
width: 100%;
height: 150px;
}

.infoWindow-body{
margin-left: 15px; 
}

.infoWindow-title{
font-size: large;
margin-top: 8px;

}

.infoWindow-text{
margin-top: 8px;
}

.infoWindow-btn{
margin-top: 5%;
margin-left: 5%;
margin-bottom: 5%;
border: 0px;
border-radius: 15px;
width: 90%;
background-color: rgb(102, 40, 102);
color: aliceblue;
font-weight: bolder;
padding: 10px;
}
.infoWindow-btn:hover{
cursor: pointer;
background-color: rgb(133, 53, 133);

}

.infoWindow-ChallengeStep{

margin-top: 1px;
padding: 8px;
background-color: rgba(236, 236, 236, 0.582);
}

@media (max-width: 870px) {
.mapContainer {
  background-color: lightblue;
  width: 100%;
  float: none;
  }
}


.mapContainer{
  background-color: var(--main-title-color);   
  border: var(--main-border-testing);
  
  float: right;
  width: 70%;
  min-width: 500px;
  height: 90%;  
  border-radius: 18px;
  }

.routesContainer{
  border-radius:25px;
  height: max-content;
  width:26%;
  min-width: 280px;
  background-color: rgba(255, 255, 255, 0.219);
  padding-top: 20px; 
  padding-bottom: 30px; 
  margin-left: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.titleDirections{
  color: #592b78;
  font-weight: bolder;
  font-size: larger;
  padding: 12px;
}
.directionInfo{
  margin-bottom: 550px; 
}

.direction{
  padding: 10px 35px 10px 35px;
  margin-bottom: 5px;

  border-radius:25px;
  cursor: default;
}
.direction:hover{
  background-color: rgba(0, 0, 0, 0.055);
}

.returnButton{
margin: auto;
margin-left: 12%;
margin-right: 12%;

border: 1px solid purple;
display: inline;
font-weight: bold;
border-radius: 17px;
padding: 15px 16% 15px 16%;

background-color: #592b78;
color: white;
}
.returnButton:hover{
  background-color: rgba(0, 0, 0, 0.055);
color: #592b78;
cursor: pointer;
}

.reloadFail{
  margin: auto;
  text-align: center;
  margin-top: 17%;
  font-size:x-large;
}
.reloadFail:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;

}

.reloadIcon{
  width: 80px;
  display: flex;

  margin: auto;

}
.reloadIcon:hover{
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}