@font-face {
    font-family: myFont;
    src: url(../../Assets/fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: myFont;
    src: url(../../Assets/fonts/Poppins-Bold.otf);
    font-weight: bold;
}

:root {
    --main-body-color: gray;
    --main-button-color: rgb(100, 77, 122);
    --main-button-hover-color: rgb(108, 94, 121);
    --main-bg-color: rgba(0, 90, 90, 0.548);
    --main-title-color: rgba(13, 82, 82, 0.548);
    --main-placeholder-color: rgb(85, 51, 116);
    --main-border-style: 1px solid black;
    --main-border-testing: 1px solid black;

    --main-body-color: white;
    --main-button-color: white;
    --main-button-color-secondary: rgb(128, 128, 188);
    --main-button-hover-color: rgb(219, 219, 219);
    --main-bg-color: white;
    --main-title-color: white;
    --main-placeholder-color: rgb(155, 155, 155);
    --main-border-style: 1px solid black;
    --main-border-testing: 0px solid black;
}


* {
    margin: 0%;
    font-family: myFont;
    font-weight: lighter;
    text-align: center;
}

.form {
    
    margin-top: 30%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    

}


.meuform {

    margin-top: 50px;
    padding: 20px;
    height: 260px;
    width: 500px;
    flex-shrink: 50;
    
}

#fullName{
    display: flex;
    flex-direction: row;
    width: 350px;
    
}

#firstName{
    margin-right: 5px;
}

#fullName:first{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 55px;
}

#intro{
    height: 250px;
}

.form-item {
    border-color: #8C2B72;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

#buttonSU{
    border: var(--main-border-style);
    padding: 1px;
    margin-top: 25px;
    border-color: #8C2B72;
    border-width: 1px;
    font-weight: bold;
    font-size: 1.5em;
    height: 70px;
    width: 200px;
    border-radius: 30px;
    color: #381160;
    background-color: #623d9396;
    border:0
}

#buttonSU:hover {
    background-color: var(--main-button-hover-color);
    border-color: #381160;
    cursor: pointer;
    user-select: none;
    border: 1;
}
.button {
    margin-top: 10px;
    border: var(--main-border-style);
    border-color: --main-border-colorful;
    border-radius: 30px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    flex-shrink: 1;
    font-size: 1.1em;
    color: #381160;
    background-color: var(--main-button-color);
    font-weight: bold;
}

.pageOption{
    padding: 0;
    float: right
}

.button:hover {
    /*colors*/
    background-color: var(--main-button-hover-color);

    cursor: pointer;
    user-select: none;
}

#moreB{  
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}

#guestB {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #802778;
    font-weight: lighter;
}

#guestB:hover {
    color: #381160;

    cursor: pointer;
    user-select: none;
}


.logo{
    margin-left: 30px;
    margin-top: 30px;
    height: 150px;
    width: 200px;
    grid-area: logo;
}

.header{
    display: grid;
    grid-template-columns: 200px auto 200px 200px;
    grid-template-areas: "logo . guest login";
}

#login{
    grid-area: login;
    margin-right: 10px;
}

#intro{
    margin: 60px;
}

body {
    background-image: url(../../Assets/designer-assets/13\ Pro\ -\ 14register-mobile.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Set a background color that will be displayed while the background image is loading */
    background-color: #464646;

}

@media only screen and (min-width: 500px) {
    body {
        background-image: url(../../Assets/designer-assets/Registrationregister-background.png);
        background-size: 100%;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        /* Set a background color that will be displayed while the background image is loading */
        background-color: #464646;
    
    }
    .form-item {
    
        border-color: #8C2B72;
    
        border-radius: 10px;
        width: 500px;
        height: 30px;
    }
    #fullName{
        display: flex;
        flex-direction: row;
        width: 505px;
        margin-bottom: 10px;
        
    }
    #fullName:first{
        display: flex;
        flex-direction: row;
        width: 505px;
        margin-bottom: 10px;
        margin-right: 55px;
    }
    #intro{
        height: 0px;
    }

    #firstName{
        margin-right: 10px;
    }
    #moreB{
        margin-top: 0;
    }
    .form {
        margin-top: 15%;
    }
}