:root {
    --main-body-color: gray;
    --main-button-color: rgb(100, 77, 122);
    --main-button-hover-color: rgb(108, 94, 121);
    --main-bg-color: rgba(0, 90, 90, 0.548);
    --main-title-color: rgba(13, 82, 82, 0.548);
    --main-placeholder-color: rgb(85, 51, 116);
    --main-border-style: 1px solid black;
    --main-border-testing: 1px solid black;

    --main-body-color: white;
    --main-button-color: white;
    --main-button-color-secondary: rgb(128, 128, 188);
    --main-button-hover-color: rgb(219, 219, 219);
    --main-bg-color: white;
    --main-title-color: white;
    --main-placeholder-color: rgb(155, 155, 155);
    --main-border-style: 1px solid black;
    --main-border-testing: 0px solid black; 
   }


*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}


.container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    height: 400px;
    width: 700px;
    
}

.button{
    margin-top: 10px;
    border: var(--main-border-style);
    border-radius: 15px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    flex-shrink: 1;
    

    /*colors*/
    background-color: var(--main-button-color);
}

#register:hover{
    background-color: var(--main-button-hover-color);
    
    cursor: pointer;
    user-select: none;
}

p{
    margin-top: 10px;
}
#register{
    background-color: var(--main-button-color-secondary);
    border: 0;
}

.button:hover{
    /*colors*/
    background-color: var(--main-button-hover-color);
    
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .logo{
        height: 300px;
        width: 400px;
        }
  }