html,
body {
  margin: 0;
  background-color: grey;
}

.plead{
  background-color: rgb(197, 197, 197);

  height: 85vh;
  width: 25%;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  display: inline-block;
}
#output{
  margin-top: 35px;
  font-weight:400;
  overflow:auto;
}

 #map {
   height: 85vh;
   width: 75%;
    float: right;

   background-color: aquamarine;
  }
  
  #howManyIdsText{
    font-size: 20px;
    display: inline;
  }
  #locationCounter{
    font-size: 20px;

    width: 50px;
  }


.nav-link:hover{
  cursor: pointer;
}